neo4j==5.25.0
minio==7.1.17
flask==3.0.0
flask-restful
pip==23.3
openai
pyyaml==6.0.1
strenum==0.4.15
paho-mqtt==1.6.1
influxdb-client==1.42.0
scapy
pandas
matplotlib
numpy
python-magic
autogen-agentchat==0.7.5
autogen-ext[openai]
autogen-ext[docker]
nest-asyncio
tabulate==0.9.0
PyJWT[crypto]==2.9.0
reportlab==4.4.9
